@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';


#app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(256px, 1fr));
  gap: 10px;
  align-items: center;
  justify-items: center;
  margin: 10px;

}